@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot');
body{
    background-color: #191919;
    color: #191919;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}
.footer, .push {
    height: 142px;
}
footer{
    background-color: #757575;
    color: #757575;
}
center img{
    height: 60vh;
    width: 85vh;
}
#ContentContainer{
    background-color: #191919;
    width: 50%;
    height: fit-content;
}
h1{
    color: #F5F5F5;
    font-family: Protest Riot;
}
h2{
    color: #F5F5F5;
    font-family: Yanone Kaffeesatz;
    font-size: x-large;
}
#SocialContainer{
    background-color: #191919;
    width: 50%;
    height: fit-content;
}
#SocialContainer h2{
    color: #F5F5F5;
    font-family: Protest Riot;
    font-size: x-large;
}
#SocialContainer a img{
    width: 6vh;
    height: 6vh;
}
header{
    color: #5e0000;
    width: 100%;
    height: 6vh;
}
header h3{
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #F5F5F5;
    font-family: Protest Riot;
    background-color: #5e0000;
    font-size: xx-large;
}
