body{
    background-color: #191919;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}
.footer, .push {
    height: 142px;
}
footer{
    background-color: #757575;
    color: #757575;
}
center img{
    height: 90vh;
    width: 130vh;
}